@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

// body 는 전체 사이트 
body {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  }
// a는 링크 관련
a {
    color: #222 !important;
    text-decoration: none !important;
  }
  